body {
  margin: 0
}



.search-container {
  text-align: center;
}
.searchbar {
  width: 20em;
  margin: 1em
}

.container {
  height: 50%;
  width: 50%;
  display: flex;

}
.mapContainer {
  /* position: static; */
  display: inline;
  height: 100% !important;
}
.pointer {
  width: 3em
}


/* Navigation */
.navigation-list-items {
  list-style-type: none;
  display: flex;
}
.navigation-list-item {
  margin-left: 1em;
}
