.border {
  border: 2px solid black;
}

.search-container {
  margin: 0 auto;
}
.searchbar {
  width: 10em;
  margin: 1em
}

.container {
  height: 50%;
  width: 50%;
  display: flex;
}
.mapContainer {
  /* position: static; */
  display: inline;
  height: 100% !important;
}
.pointer {
  width: 3em
}
